*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1572ce;
    color:white;
    padding: 20px 0px;
}
header nav a{
    color: white;
    margin-right: 30px;
    font-weight: 50px;
}
header div.signin-register button{
    background-color: #0fa0d1;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 550px;
    border-radius: 5px;
}
header div.signin-register button:last-child{
    background-color: rgb(234, 172, 55);
}
div.popup-container{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}
div.popup-container div.popup{
    width: 350px;
    background-color: rgb(220, 222, 247);
    border-radius: 5px;
    padding: 20px 25px 30px 25px;
  
}
div.popup-container div.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.popup-container div.popup input{
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(18, 18, 56);
    background-color: transparent;
    font-size: 16px;
    font-weight: 500px;
}
div.popup-container div.popup label input[type="checkbox"]{
    width: 12px;
    height: 12px;
    margin: 0px;
    margin-right: 10px;
}
div.popup-container div.popup label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}
div.popup-container div.popup button.login-btn,div.popup-container div.register button.register-btn{
    background-color: #1e7770;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 550px;
    border-radius: 5px;
    margin-top: 15px;
}
div.popup-container div.popup div.forgot-btn{
    text-align: right;
}
div.popup-container div.popup div.forgot-btn button{
    background-color: transparent;
    border: none;
    color: #1e7770;
    font-size: 16px;
    font-weight: 500px;
    outline: none;
}
.close-btn{
    margin-left:170px;
    background-color:transparent;
    border: none;
}
div.popup-container div.register{
    background-color: rgb(247, 215, 220);
}
div.popup-container div.register h2{
    color:rgb(28, 28, 111);
}
div.popup-container div.register input{
    border-bottom-color: salmon;
}
div.popup-container div.register button.register-btn{
    background-color: rgb(240, 95, 16);
}
div.userlogin{
    color: white;
    font-size: 16px;
    font-weight: 500px;
}





